:root {
    --snow: #FCF7F8;
    --old-snow: #ECECEC;
    --periwinkle: #C3CFF7;
    --royal-blue: #5E56F8;
    --mint: #BCECC8;
    --emerald: #54CC72;
    --coal: #3C3C3C;
    --jet-black: #313131;
    --light-gray: #727271;
    --black-olive: #1E1F1D;
    --battleship-gray: #9F9F99

}
body.dark-mode {
    background-color: var(--light-gray);
}
.dark-mode nav {
    background-color: var(--black-olive);
}
.dark-mode .nav-item h3 {
    color: var(--old-snow);
}
.dark-mode #joke-div {
    background-color: var(--periwinkle);
}
.dark-mode #joke-title-div {
    background-color: var(--royal-blue);
}
.dark-mode #leaderboard-title-and-icon-div {
    background-color: var(--emerald);
}
.dark-mode #leaderboard-title-div {
    /*background-color: var(--mint);*/
    background-color: var(--emerald)
}
.dark-mode #user-rankings-div {
    /*background-color: var(--emerald);*/
    background-color: var(--mint);
}
.dark-mode #user-rankings-div .leaderboard-user-div h5 {
    color: var(--coal)
}
.dark-mode #game-div {
    border: 3px solid var(--royal-blue);
    background-color: var(--battleship-gray);
}
.dark-mode footer {
    background-color: var(--black-olive);
}
.dark-mode footer h5 {
    color: var(--old-snow);
}